.movie-card {
    background-color: #222222;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.movie-card__photo {
    width: 100%;
}

.movie-card__title-like {
    margin: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.movie-card__title {
    font-size: 13px;
    line-height: 16px;
}

.movie-card__time {
    margin: 0;
    font-size: 11px;
    line-height: 16px;
    color: #A0A0A0;
}

.button {
    padding: 0;
    margin-top: 18px;
    margin-bottom: 18px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    width: 100px;
    height: 30px;
}

.button-type-like {
    background-color: #313131;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
}

.button-type-like-pressed {
    background-color: #EE3465;
    background-image: url('../../../images/tick.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.button-type-delete {
    background-color: #313131;
    background-image: url('../../../images/cross.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.text-overflow-formatting {
    max-width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}