.page {
    min-height: 100vh;
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    background-color: #202020;
    color: #FFFFFF;
}

.object-hower {
    opacity: 1;
    transition: opacity .5s ease-out;
 }

.object-hower:hover {
    opacity: .6;
}

.form__input-error {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    margin-bottom: 10px;
}

.input-error {
    color:#EE3465;
}

.visible {
    display: block;
    animation: fadeIn linear .6s;
}

.invisible {
    display: none;
}

@keyframes fadeIn {
    from { opacity:0; }
    to { opacity:1; }
}

@keyframes fadeOut { /*animation: fadeOut 1s ease-in 3s forwards;*/
    from { opacity: 1;}
    to { opacity: 0;}
}