.portfolio {
    padding: 0px 70px 125px;
}

.portfolio__subtitle {
    margin: 0;
    margin-bottom: 50px;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
}

.portfolio__links {
    list-style: none;
}

.portfolio__link-item {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    padding-bottom: 19px;
    border-bottom: 1px solid #424242;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio__link {
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    text-decoration: none;
    color: #FFFFFF;
}

.portfolio__link-arrow {
    width: 29px;
    height: 60px;
    background-image: url('../../../images/arrow-link.svg');
    background-size: initial;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 769px) {
    .portfolio {
        padding: 0px 50px 90px;
    }

    .portfolio__link {
        font-size: 28px;
    }
}

@media (max-width: 400px) {
    .portfolio {
        padding: 0px 14px 70px;
    }

    .portfolio__subtitle {
        font-size: 14px;
    }

    .portfolio__link-item {
        margin-bottom: 20px;
    }
    
    .portfolio__link {
        margin-bottom: 0px;
        font-size: 18px;
        line-height: 28px;
    }
    
    .portfolio__link-arrow {
        width: 18px;
        height: 28px;
    }
}