.search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #E8E8E8;
    padding-bottom: 83px;
}

.search-form__elips {
    width: -webkit-fill-available;
    height: 48px;
    border: 2px solid #E8E8E8;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.search-form__form {
    margin-left: 20px;
    border: none;
    width: 90%;
    outline: none;
}

.search-form__button {
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 25px;
    background-image: url('../../../images/serach-button.svg');
    margin-right: 7px;
    cursor: pointer;
}

.search-form__switcher {
    display: flex;
    margin-left: 41px;
    align-items: center;
}

.search-form__switcher-title {
    margin: 0;
    padding-right: 14px;
    font-size: 13px;
    line-height: 18px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    top: 2px;
    background-color: white;
    transition: .4s;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:checked + .slider:before {
    transform: translateX(16px);
}

@media (max-width: 769px) {
    .search-form {
        flex-direction: column;
        padding-bottom: 68px;
    }

    .search-form__switcher {
        margin-left: 0px;
        margin-top: 38px;
    }

    .search-form__switcher-title {
        padding-right: 12px;
    }
}