.about-me {
    padding: 100px 70px 100px;
}

.about-me__headline {
    margin: 0;
    margin-bottom: 90px;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    padding-bottom: 23px;
    border-bottom: 1px solid #DADADA;
}

.about-me__two-column {
    display: flex;
    justify-content: space-between;
}

.about-me__info {
    max-width: 600px;
}

.about-me__name {
    margin: 0;
    margin-bottom: 18px;
    font-weight: normal;
    font-size: 50px;
    letter-spacing: -0.04em;
}

.about-me__brief {
    margin: 0;
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.about-me__detailed {
    margin: 0;
    margin-bottom: 99px;
    font-size: 14px;
    line-height: 22px;
}

.about-me__social-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.about-me__social-link {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin-right: 40px;
    text-decoration: none;
    color: #FFFFFF;
}

.about-me__photo {
    height: 327px;
    background-size: cover;
    border-radius: 10px;
}

@media (max-width: 769px) {
    .about-me {
        padding: 90px 50px 90px;
    }

    .about-me__name {
        font-size: 40px;
    }

    .about-me__brief {
        font-size: 12px;
        line-height: 18px;
    }
    
    .about-me__detailed {
        font-size: 12px;
        line-height: 18px;
        margin-right: 49px;
    }

    .about-me__info {
        max-width: 364px;
    }

    .about-me__social-link {
        font-size: 14px;
        margin-right: 20px;
    }

    .about-me__photo {
        height: 307px;
    }
}

@media (max-width: 400px) {
    .about-me {
        padding: 70px 14px 70px;
    }

    .about-me__headline {
        margin-bottom: 90px;
        font-size: 18px;
        line-height: 21px;
        padding-bottom: 28px;
    }

    .about-me__two-column {
        flex-direction: column-reverse;
    }

    .about-me__photo {
        height: 352px;
        margin-bottom: 40px;
        align-self: center;
    }

    .about-me__name {
        margin-bottom: 20px;
        font-size: 30px;
    }

    .about-me__brief {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
    }
    
    .about-me__detailed {
        margin-bottom: 40px;
        margin-right: 0px;
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
    }

    .about-me__social-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        margin-right: 26px;
    }
}